@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 0;
}

.scrollBar::-webkit-scrollbar {
  width: 4px;
  border-radius: 1em;
}

.scrollBar::-webkit-scrollbar-track {
  background: #334155;
  border-radius: 1em;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 1em;
}

.menu-enter {
  opacity: 0;
  transform: scale(0.9);
}
.menu-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.menu-exit {
  opacity: 1;
}

.menu-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.slideY-enter {
  opacity: 0;
  transform: translateY(50%);
}

.slideY-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.slideY-exit {
  opacity: 1;
}

.slideY-exit-active {
  opacity: 0;
  transform: translateY(30%);
  /* transform: scale(0.9); */
  transition: opacity 300ms, transform 300ms;
}

.fade-enter {
  opacity: 0;

}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;

}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px; 
  cursor: pointer; 
  background-color: #22c55e;
  border: 2px solid white;
}

#wave{  
  position:relative;
}  

#wave span{  
  width:5px;  
  height: 5px;  
  bottom:0px;
  position:absolute;  
  background:#22c55e;  
  animation: wave 2s infinite ease;  
}  

#wave span:first-child{  
  left:0px;  
  animation-delay:.3s;  
}  

#wave span:nth-child(2){  
  left:7px;  
  animation-delay: 1.1s;  
}  
#wave span:nth-child(3){  
  left:14px;  
  animation-delay:.6s;  
}  
#wave span:nth-child(4){  
  left:21px;  
  animation-delay:.8s;  
}  
#wave span:nth-child(5){  
  left:28px;  
  animation-delay:1s;  
}  
#wave span:nth-child(6){  
  left:35px;  
  animation-delay:.4s;  
}  

@keyframes wave{  
  0%{height:10px; background:#14b8a6;}  
  30%{height:25px; background:#22c55e;}  
  60%{height:35px; background:#14b8a6;}  
  80%{height:15px; background:#22c55e;}  
  100%{height:40px; background:#14b8a6;}  
}

.diskSpinPlay {
  animation: diskSpin 5s linear infinite;
  animation-play-state: running;
}

.diskSpinPaused {
  animation: diskSpin 5s linear infinite;
  animation-play-state: paused;
}

@keyframes diskSpin {
  to {
    transform: rotate(360deg);
  }
}